.holTest {
  h3 {
    font-size: 38px;
    margin-bottom: 50px;
  }
  .btns {
    margin-bottom: 50px;
    margin-top: 60px;
    & > label {
      margin: 0 60px;
    }
  }
  button {
    font-size: 24px;
    padding: 12px 270px;
  }
}
