.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 80px);
  width: 305px;
  background: #fafafa;
  padding: 30px 25px;
  ul li {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    cursor: pointer;
    img {
      margin-right: 18px;
    }
  }
}

.down_menu li:first-child {
  margin-bottom: 26px;
  color: #d9d9d9;
}
