@import 'reset-css';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background: #fafafa;
  color: rgba(0, 0, 0, 0.85);
}

#root {
  height: 100vh;
}

input,
button {
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

.page {
  min-height: 100%;
}

.loginPage {
  display: flex;
}

.homePage {
  background-color: #f5f5f5;
}

.test_progress {
  max-width: 640px;
}
